Spec(
    mode: "Basic",
    // To set this in an environment variable use the following syntax:
    // FIST_SEED=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
    seed: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],
    food_types: [
        Type (
            key: "Jam",
            options: [
                Option (
                    grams: 500,
                ),
                Option (
                    grams: 1000,
                ),
            ],
        ),
    ],
    initial_event_source_specs: [
        (
            kind: "BuyRandomVariety",
            count: 3,
            offset: 1,
        ),
    ],
    repeated_event_source_specs: [
        (
            kind: "FixedHungerAmount",
            grams_per_day: 2000,
        ),
        (
            kind: "ShopSomeDays",
            buy_count: 3,
            roll_one_past_max: 4,
        ),
        (
            kind: "RandomEvent",
            roll_one_past_max: 16,
        ),
    ],
)
